<div class="all-vehicles">
  <div class="card" style="width: 18rem;">
    <img
      src="https://images.unsplash.com/photo-1579272154060-4e7a4d0f5033?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fGZvcmQlMjBzZWRhbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      class="card-img-sedan"
      alt="sedan-front-shot"
    />
    <div class="card-body">
      <h5 class="card-title">Sedans</h5>

      <a href="/sedan" class="btn btn-primary">See all sedans</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img
      src="https://i1.wp.com/adsshocks.com/wp-content/uploads/2021/01/2020-Ford-F-150-Raptor-Release-Date-1.jpg?resize=300%2C300&ssl=1"
      class="card-img-top"
      alt="ford-raptor"
    />
    <div class="card-body">
      <h5 class="card-title">Trucks</h5>

      <a href="/truck" class="btn btn-primary">See all trucks</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img
      src="https://blogmedia.dealerfire.com/wp-content/uploads/sites/1027/2020/07/2021-Ford-Bronco-4door_o3-300x300.jpg"
      class="card-img-top"
      alt="ford-bronco
  "
    />
    <div class="card-body">
      <h5 class="card-title">Suvs</h5>

      <a href="/suv" class="btn btn-primary">See all suvs</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      src="https://evglobe.com/wp-content/uploads/2021/05/2022-Ford-F150-Lightning-2-300x300.jpg"
      class="card-img-top"
      alt="hybrid-back"
    />
    <div class="card-body">
      <h5 class="card-title">Hybrids/Electric</h5>

      <a href="/hybrid" class="btn btn-primary">See all hybrids & electric</a>
    </div>
  </div>
</div>