<div class="login-card">
 <h2>Login</h2>
 <form class= "form login-form">
    <div class="form-group">
        <label for="email">email:</label>
        <input class="form-input" type="text" id="login-email"/>
    </div>
    <div class="form-group">
        <label for="password">password:</label>
        <input class="form-input" type="password" id="login-password"/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
    </div>
 </form>
</div>
<div class="login-card">
    <h2>SignUp</h2>
    <form class="login-card">
        <div class="form-group">
            <label for="signup-username">Username:</label>
            <input class="form-input" type="text" id="username"/>
        </div>
        <div class="form-group">
            <label for="signup-email">Email:</label>
            <input class="form-input" type="text" id="signup-email"/>
        </div>
        <div class="form-group">
            <label for="signup-password">Password:</label>
            <input class="form-input" type="password" id="signup-password"/>
        </div>
    </form>
</div>

<script src="../public/js/login.js"></script>