<div class="vehilce-post">
  <form class="post-form">

    <div class="vehicle-name">
      <label for="post-vehicle">What is your vehile model?:</label>
      <input class="form-input" type="text" id="vehicle-model" />
    </div>

    <div class="engine-post">
      <label for="post-engine">Engine type:</label>
      <input class="form-input" type="text" id="vehicle-engine" />
    </div>

    <div class="transmission">
      <label for="post-transmission">Transmission:</label>
      <input class="form-input" type="text" id="vehicle-transmission" />
    </div>

    <div class="color-post">
      <label for="post-color">Color:</label>
      <input class="form-input" type="text" id="vehicle-color" />
    </div>

    <div class="form-group"><button class="btn btn-primary" type="submit">Post
        your vehicle</button></div>

  </form>

</div>
<script src="/js/post.js"></script>