<div class="signup-card">
  <h2>SignUp</h2>
  <form class="signup-form">
    <div class="form-group">
      <label for="signup-username">Name:</label>
      <input class="form-input" type="text" id="name" />
    </div>
    <div class="form-group">
      <label for="signup-email">Email:</label>
      <input class="form-input" type="text" id="signup-email" />
    </div>
    <div class="form-group">
      <label for="signup-password">Password:</label>
      <input class="form-input" type="password" id="signup-password" />
    </div>
    <div class="form-group"><button
        class="btn btn-primary"
        type="submit"
      >signup</button></div>
  </form>
</div>

<script src="/js/signup.js"></script>