<div class="login-card">
    <h2>SignUp</h2>
    <form class="login-card">
        <div class="form-group">
            <label for="signup-username">Username:</label>
            <input class="form-input" type="text" id="username"/>
        </div>
        <div class="form-group">
            <label for="signup-email">Email:</label>
            <input class="form-input" type="text" id="signup-email"/>
        </div>
        <div class="form-group">
            <label for="signup-password">Password:</label>
            <input class="form-input" type="password" id="signup-password"/>
        </div>
    </form>
</div>

<script src="../public/js/signup.js"></script>