<h2>Sign-Up</h2>

<div class="signup-card">
  <form class="signup-form">
    <div class="form-floating mb-3 form-group">
      <input
        type="text"
        class="form-control form-input"
        id="name"
        placeholder="Your name"
        {{! id="floatingInput " }}
      />
      <label for="floatingInput signup-username">Name</label>
    </div>

    <div class="form-floating mb-3 form-group">
      <input
        type="email"
        class="form-control form-input"
        id="signup-email"
        placeholder="name@example.com"
      />
      <label for="floatingInput signup-email">Email address</label>
    </div>

    <div class="form-floating form-group">
      <input
        type="password"
        class="form-control form-input"
        id="signup-password"
        placeholder="Password"
      />
      <label for="floatingPassword signup-password">Password</label>
    </div>
    <div class="form-group"><button
        class="btn btn-primary"
        type="submit"
      >Sign-Up</button></div>
  </form>
</div>

<script src="/js/signup.js"></script>